<h3>EDIT AIRCRAFT</h3>
<% if flash.has?(:message) %>
  <h2><font color="red"><%= flash[:message] %></font></h2>
<% end %>
<br />
<form action="/planes/<%= @plane.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <table>
    <tr>
      <td align='right' style="padding:0 0 15px 0;">NAME/DESIGNATION:&nbsp&nbsp&nbsp</td>
      <td style="padding:0 0 15px 0;"><input type="text" name="plane[name]" value="<%= @plane.name %>"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 0 15px 0;">MANUFACTURER:&nbsp&nbsp&nbsp</td>
      <td style="padding:0 0 15px 0;"><input type="text" name="plane[manufacturer]" value="<%= @plane.manufacturer %>"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 0 15px 0;">TOP SPEED:&nbsp&nbsp&nbsp</td>
      <td style="padding:0 0 15px 0;"><input type="text" name="pilot[top_speed]" value="<%= @plane.top_speed %>"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 0 15px 0;">CEILING:&nbsp&nbsp&nbsp</td>
      <td style="padding:0 0 15px 0;"><input type="text" name="plane[ceiling]" value="<%= @plane.ceiling %>"></td>
    </tr>
    <tr>
      <td align='right' style="padding:0 0 15px 0;">TYPE:&nbsp&nbsp&nbsp</td>
      <td style="padding:0 0 15px 0;"><input type="text" name="plane[classification]" value="<%= @plane.classification %>"></td>
    </tr>
  </table>
  <br />

  <h4>SELECT YOUR WEAPONS</h4>
  <sm>Current Weapons (please re-check below to keep...)&nbsp&nbsp&nbsp</sm>
    <% @plane.weapons.each do |p| %>
      <a href="/weapons/<%= p.id %>"><%= p.name %>&nbsp&nbsp&nbsp</a>
    <% end %>
  <br />
  <br />
    <% Weapon.all.each do |w| %>
      <label>&nbsp&nbsp&nbsp<%= w.name %>&nbsp</label>
      <input type="checkbox" id="weapon_<%=w.id%>" name="plane[weapon_ids][]" value="<%= w.id %>">
    <% end %>
  <br />
  <br />
  <input name="submit" value="Submit" type="Submit">
</form>
