<h3>EDIT AIRCRAFT</h3>
<br>
<form action="/pilots/<%= @plane.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  NAME/DESIGNATION: <input type="text" name="name" placeholder="<%= @plane.name %>">
  MANUFACTURER: <input type="text" name="manufacturer" placeholder="<%= @plane.manufacturer %>">
  TOP SPEED: <input type="text" name="top_speed" placeholder="<%= @plane.top_speed %>">
  CEILING: <input type="text" name="ceiling" placeholder="<%= @plane.ceiling %>">
  TYPE: <input type="text" name="type" placeholder="<%= @plane.type %>">
  <input name="submit" value="submit" type="Submit">
</form>
