<h3><%= @pilot.rank %>&nbsp<%= @pilot.username %></h3>
<br  />
<b>BRANCH/SERVICE</b>&nbsp&nbsp&nbsp<%= @pilot.branch %>
<br />
<br />
<b>AERIAL VICTORIES</b>&nbsp&nbsp&nbsp<%= @pilot.victories %>
<br />
<br />

<table>
  <tr>
    <th style="padding:0 15px 0 0;">CURRENT AIRCRAFT</th>
    <th style="padding:0 15px 0 0;">TYPE</th>
  </tr>
  <tr>
    <td>
      <br />
    </td>
  </tr>
  <% @pilot.planes.each do |p| %>
  <tr>
    <td style="padding:0 15px 0 0;"><a href="/planes/<%= p.id %>"><%= p.name %></a></td>
    <td style="padding:0 15px 0 0;"><%= p.classification %></td>
  </tr>
  <% end %>
</table>
</form>
<br />

<form action="/pilots/<%= @pilot.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Pilot">
</form>
