<h3>STATION ARMORY</h3>
<h4><a href="/weapons/new">NEW WEAPON?</a></h4>
<% if flash.has?(:message) %>
  <h2><font color="red"><%= flash[:message] %></font></h2>
<% end %>
<br />
</br/>
<br />
<table>
  <tr>
    <th style="padding:0 15px 0 15px;">NAME</th>
    <th style="padding:0 15px 0 15px;">TYPE</th>
    <th style="padding:0 15px 0 15px;">CALIBER</th>
  </tr>
  <tr>
    <td>
      <br />
    </td>
  </tr>
  <% @weapons.each do |w| %>
    <tr>
      <td style="padding:0 15px 0 15px;"><a href="/weapons/<%= w.id %>"><%= w.name %></a></td>
      <td style="padding:0 15px 0 15px;"><%= w.classification %></td>
      <td style="padding:0 15px 0 15px;"><%= w.caliber %></td>
    </tr>
  <% end %>
</table>
